@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade-in {
  opacity: 0;
  animation: fade-in 300ms linear forwards;
}

.fade-in-top {
  opacity: 0;
  transform: translateY(-30px);
  animation: fade-in-top 1s ease-in forwards;
}

@layer components {
  .container {
    max-width: 1200px;
    padding: 10px;
  }
  .btn {
    @apply rounded p-3;
    &:disabled {
      cursor: default;
      pointer-events: none;
      background-color: #ccc;
    }
  }
  .btn-primary {
    @apply bg-lime-600 text-white cursor-pointer;
    &:hover {
      @apply bg-lime-500 text-white;
      transition: 500ms;
    }
  }
  .btn-secondary {
    @apply bg-none border text-lime-600 border-lime-600;
    &:hover {
      @apply bg-lime-500 text-white;
      transition: 500ms;
    }
  }
  input[type="text"] {
    border: 1px solid gray;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    &:active,
    &:focus {
      outline: none;
      background: #eee;
      transition: 300ms;
      border: 1px solid rgb(68, 239, 79);
    }
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-top {
  100% {
    opacity: 1;
    transform: none;
  }
}
